.u-section-1 {
  min-height: 1142px;
}

.u-section-1 .u-text-1 {
  animation-duration: 4500ms;
  font-size: 8.125rem;
  background-image: none;
  font-style: italic;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  margin: 388px 80px 0;
}

.u-section-1 .u-image-1 {
  width: 620px;
  height: 289px;
  animation-duration: 3000ms;
  margin: -248px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 8.125rem;
  animation-duration: 4500ms;
  font-style: italic;
  margin: -169px 80px 0;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  margin-top: 467px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 947px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -185px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -189px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -64px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 4.6875rem;
    margin-top: 410px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -201px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -180px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 910px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 252px;
    margin-top: -174px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -174px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1188px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.1875rem;
    width: 309px;
    margin-top: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
    height: 138px;
    margin-top: -97px;
  }

  .u-section-1 .u-text-2 {
    width: 266px;
    margin-top: -125px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 408px;
    margin-bottom: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 999px;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 95px 213px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 228px 0 0 auto;
}

.u-section-2 .u-shape-3 {
  width: 250px;
  height: 250px;
  margin: -728px auto 0 841px;
}

.u-section-2 .u-shape-4 {
  height: 131px;
  width: 274px;
  animation-duration: 1000ms;
  margin: 28px auto 0 99px;
}

.u-section-2 .u-shape-5 {
  height: 131px;
  width: 274px;
  animation-duration: 1000ms;
  margin: -151px auto 0 79px;
}

.u-section-2 .u-shape-6 {
  width: 250px;
  height: 250px;
  margin: -268px 107px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 9.25rem;
  animation-duration: 2250ms;
  line-height: 1;
  font-weight: 700;
  font-style: italic;
  margin: -269px auto 0 70px;
}

.u-section-2 .u-text-2 {
  animation-duration: 4500ms;
  font-size: 9.25rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  background-image: none;
  margin: -165px 570px 0 auto;
}

.u-section-2 .u-shape-7 {
  width: 250px;
  height: 250px;
  margin: -233px auto 0 841px;
}

.u-section-2 .u-shape-8 {
  width: 250px;
  height: 250px;
  margin: -278px 187px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 8.125rem;
  animation-duration: 4500ms;
  line-height: 1;
  font-weight: 700;
  margin: 31px 680px 0 87px;
}

.u-section-2 .u-shape-9 {
  width: 250px;
  height: 250px;
  margin: 210px auto 0 841px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: -385px 247px 0 99px;
}

.u-section-2 .u-shape-10 {
  width: 250px;
  height: 250px;
  margin: -12px 25px 0 auto;
}

.u-section-2 .u-text-5 {
  animation-duration: 1000ms;
  margin: -212px 278px 0 99px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  font-style: normal;
  margin: 33px 283px 60px 99px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: 44px;
    margin-right: auto;
    margin-left: 571px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 348px;
    margin-right: auto;
    margin-left: 690px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -864px;
    margin-left: 690px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -3px;
    margin-right: 651px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-5 {
    margin-top: -149px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-6 {
    margin-top: -266px;
    margin-right: auto;
    margin-left: 656px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -286px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -164px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-shape-7 {
    margin-top: 28px;
    margin-left: 690px;
  }

  .u-section-2 .u-shape-8 {
    margin-top: -410px;
    margin-right: 152px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -84px;
    margin-right: 666px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-9 {
    margin-top: 333px;
    margin-left: 690px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -507px;
    margin-right: 289px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-10 {
    margin-top: 144px;
    margin-right: auto;
    margin-left: 656px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -351px;
    margin-right: 247px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin: 41px 496px 43px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 180px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -361px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -291px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 28px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: -156px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 47px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -594px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -169px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: 570px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-8 {
    margin-top: -835px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -203px;
    margin-right: 457px;
  }

  .u-section-2 .u-shape-9 {
    margin-top: 378px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -486px;
    margin-right: 69px;
  }

  .u-section-2 .u-shape-10 {
    margin-top: 147px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: -380px;
    margin-right: 94px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 28px;
    margin-right: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 33px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -236px;
    margin-right: 20px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -269px;
  }

  .u-section-2 .u-shape-4 {
    width: 270px;
    margin-top: -44px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: -150px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 74px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -618px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -165px;
  }

  .u-section-2 .u-shape-7 {
    width: 157px;
    height: 157px;
    margin-top: 202px;
  }

  .u-section-2 .u-shape-8 {
    width: 176px;
    height: 177px;
    margin-top: -209px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -299px;
    margin-right: 258px;
  }

  .u-section-2 .u-shape-9 {
    margin-top: 453px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -637px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-10 {
    width: 185px;
    height: 192px;
    margin-top: 246px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -425px;
    margin-right: 217px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 33px;
    margin-right: 96px;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-2 .u-shape-1 {
    width: 190px;
    height: 221px;
    margin-top: 47px;
    margin-right: 60px;
  }

  .u-section-2 .u-shape-2 {
    width: 220px;
    height: 238px;
    margin-top: -221px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-2 .u-shape-3 {
    width: 89px;
    height: 217px;
    margin-top: -227px;
    margin-right: 100px;
  }

  .u-section-2 .u-shape-4 {
    height: 95px;
    width: 186px;
    margin-top: -85px;
    margin-left: 32px;
  }

  .u-section-2 .u-shape-5 {
    height: 95px;
    width: 190px;
    margin-top: -112px;
    margin-left: 11px;
  }

  .u-section-2 .u-shape-6 {
    width: 202px;
    margin-top: 279px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.375rem;
    margin-top: -719px;
  }

  .u-section-2 .u-text-2 {
    font-size: 4.375rem;
    margin-top: -58px;
  }

  .u-section-2 .u-shape-7 {
    width: 236px;
    margin-top: 326px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-shape-8 {
    width: 155px;
    height: 155px;
    margin-top: -82px;
    margin-right: 60px;
  }

  .u-section-2 .u-text-3 {
    font-size: 5.625rem;
    margin-top: -541px;
    margin-right: 145px;
    margin-left: 17px;
  }

  .u-section-2 .u-shape-9 {
    margin-top: 595px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: -824px;
    margin-right: 89px;
    margin-left: 12px;
  }

  .u-section-2 .u-shape-10 {
    margin-top: 504px;
    margin-right: 60px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -681px;
    margin-right: 74px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-6 {
    margin: 2px 66px 16px 11px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 402px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 216px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 238px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-image-1 {
  width: 301px;
  height: 143px;
  animation-duration: 1000ms;
  margin: 11px auto 0 -48px;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 154px;
  min-width: 58px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: -95px -43px 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-3 .u-image-1 {
    width: 284px;
    height: 131px;
    margin-top: 19px;
    margin-left: -88px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -84px;
    margin-right: -60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 251px;
    height: 115px;
    margin-top: 31px;
    margin-left: -104px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: -82px;
    margin-right: -54px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 122px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -30px;
    margin-right: 120px;
    margin-left: auto;
  }

  .u-section-3 .u-social-icons-1 {
    width: 156px;
    min-width: 60px;
    margin-top: -65px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 280px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 66px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 106px;
  }

  .u-section-3 .u-image-1 {
    width: 160px;
    height: 76px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-3 .u-social-icons-1 {
    height: 38px;
    width: 125px;
    margin-top: -50px;
    margin-right: -10px;
  }
}