 .u-section-1 {
  background-image: none;
  min-height: 962px;
}

.u-section-1 .u-layout-wrap-1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-video-1 {
  min-height: 400px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 30px;
}

.u-section-1 .u-custom-html-1 {
  margin: 0 4px 0 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 229%;
  left: -65%;
  height: 100%;
  top: 0%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("/images/iuzfghj.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-video-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
  width: 229%;
  left: -65%;
  height: 100%;
  top: 0%;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-video-3 {
  min-height: 400px;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
  width: 229%;
  left: -65%;
  height: 100%;
  top: 0%;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-video-4 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
  width: 229%;
  left: -65%;
  height: 100%;
  top: 0%;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  object-position: 52.47% 50%;
  width: 280px;
  left: auto;
  right: 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 502px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-video-5 {
  min-height: 502px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .embed-responsive-5 {
  position: absolute;
  width: 229%;
  left: -65%;
  height: 100%;
  top: 0%;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 502px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 502px;
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 28px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 83px;
  min-height: 16px;
  width: 175px;
  min-width: 42px;
  margin: 202px 0 0 77px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-social-icons-2 {
  height: 75px;
  min-height: 16px;
  width: 161px;
  min-width: 42px;
  margin: 6px auto 0 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-video-6 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .embed-responsive-6 {
  position: absolute;
  width: 288%;
  left: -94%;
  height: 100%;
  top: 0%;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-16 {
  min-height: 502px;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 28px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 786px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-1 .u-video-3 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 414px;
  }

  .u-section-1 .u-video-5 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 414px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 414px;
  }

  .u-section-1 .u-layout-wrap-4 {
    position: relative;
  }

  .u-section-1 .u-video-6 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 414px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1982px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-1 .u-image-1 {
    min-height: 506px;
  }

  .u-section-1 .u-video-3 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 758px;
  }

  .u-section-1 .u-video-5 {
    min-height: 502px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 758px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-video-6 {
    min-height: 758px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 758px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 317px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 5871px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-3 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 759px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 951px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-5 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 951px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-6 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 951px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1758px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 390px);
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-1 .u-image-1 {
    min-height: 272px;
  }

  .u-section-1 .u-video-2 {
    min-height: 228px;
  }

  .u-section-1 .embed-responsive-2 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: calc(((100% - 340px) / 2) + 390px);
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-3 {
    min-height: 261px;
  }

  .u-section-1 .embed-responsive-3 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 259px;
  }

  .u-section-1 .u-video-4 {
    min-height: 218px;
  }

  .u-section-1 .embed-responsive-4 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 261px;
  }

  .u-section-1 .u-image-2 {
    left: 0;
    right: auto;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: calc(((100% - 340px) / 2) + 390px);
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 250px;
  }

  .u-section-1 .u-video-5 {
    min-height: 250px;
  }

  .u-section-1 .embed-responsive-5 {
    width: 193%;
    left: -47%;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 250px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: calc(((100% - 340px) / 2) + 390px);
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-6 {
    min-height: 250px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 250px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 250px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: NaNpx;
  }
}

.u-section-1 .u-video-1,
.u-section-1 .u-video-1:before,
.u-section-1 .u-video-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-video-1:before {
  background-image: url(/images/default-image.jpg) !important;
}

.u-section-1 .u-video-1.u-video-1.u-video-1:hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-video-1 {
  border-color: transparent !important;
}

.u-section-1 .u-video-1.u-video-1.u-video-1.hover {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-video-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-video-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-video-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-video-3,
.u-section-1 .u-video-3:before,
.u-section-1 .u-video-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-block-271e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-271e-3 {
  position: absolute;
  left: 0;
}

.u-block-271e-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 216px;
  right: calc(((100% - 1140px) / 2)  + -49px);
}

@media (max-width: 1199px) {
  .u-block-271e-4 {
    right: calc(((100% - 940px) / 2)  + -40px);
  }
}

@media (max-width: 991px) {
  .u-block-271e-4 {
    right: calc(((100% - 720px) / 2)  + -31px);
  }
}

@media (max-width: 767px) {
  .u-block-271e-4 {
    right: calc(((100% - 540px) / 2)  + -23px);
  }
}

@media (max-width: 575px) {
  .u-block-271e-4 {
    right: calc(((100% - 340px) / 2)  + -14px);
  }
}

 .u-section-2-1 {
  min-height: 50px;
}

.u-section-2-1 .u-text-1 {
  width: 242px;
  margin: 238px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 49px);
    margin-right: calc(((100% - 340px) / 2) + 49px);
    margin-bottom: 0;
  }
}

.u-section-2-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 500px;
}

 .u-section-2-5 {
  min-height: 500px;
}