.u-section-1 {
  min-height: 602px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 600px;
  margin-top: 1px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2) + 650px);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 185px;
  margin: -392px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 522px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 522px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 392px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 389px;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 438px;
    height: 142px;
    margin-top: -265px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 221px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 221px;
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 110px;
    margin-top: -165px;
    margin-bottom: 56px;
  }
}