.u-section-1 {
  min-height: 900px;
}

.u-section-1 .u-slider-1 {
  min-height: 900px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 28px;
  height: 8px;
  top: auto;
  bottom: 51px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/IMG_6585.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-image-2 {
  width: 726px;
  height: 225px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  background-image: url("images/IMG_67521.jpg");
  background-position: 100% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-image-4 {
  width: 170px;
  height: 79px;
  margin: 0 30px 0 auto;
}

.u-section-1 .u-image-5 {
  background-image: url("images/IMG_6736.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-6 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 758px 30px 0 auto;
}

.u-section-1 .u-image-7 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/IMG_7878.jpg");
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-image-8 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 758px 30px 0 auto;
}

.u-section-1 .u-image-9 {
  background-image: url("images/IMG_7899.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-image-10 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 758px 30px 0 auto;
}

.u-section-1 .u-image-11 {
  background-image: url("images/IMG_69521.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-image-12 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 758px 30px 0 auto;
}

.u-section-1 .u-image-13 {
  background-image: url("images/IMG_3613.jpg");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-image-14 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 758px 30px 0 auto;
}

.u-section-1 .u-image-15 {
  background-image: url("images/IMG_3763.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-1 .u-image-16 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 0 30px 0 auto;
}

.u-section-1 .u-image-17 {
  background-image: url("images/IMG_2377.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-1 .u-image-18 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 0 30px 0 auto;
}

.u-section-1 .u-image-19 {
  background-image: url("images/IMG_6896.JPG");
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-1 .u-image-20 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 0 29px 0 auto;
}

.u-section-1 .u-image-21 {
  background-image: url("images/ghhh-32.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 50px;
}

.u-section-1 .u-image-22 {
  width: 170px;
  height: 79px;
  animation-duration: 1000ms;
  margin: 0 29px 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    min-height: 927px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-left: 51px;
  }

  .u-section-1 .u-image-4 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-7 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-8 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-image-13 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-16 {
    margin-right: 0;
  }

  .u-section-1 .u-image-17 {
    background-position: 100% 0%;
  }

  .u-section-1 .u-image-18 {
    margin-right: 0;
  }

  .u-section-1 .u-image-19 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 880px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 939px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 660px;
    height: 205px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 837px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 803px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 162px;
    margin-right: 42px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 775px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 773px;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 331px;
    height: 100px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 596px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    background-position: 57.07% 50%;
  }

  .u-section-1 .u-image-6 {
    margin-top: 596px;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: 596px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: 596px;
    margin-right: auto;
  }

  .u-section-1 .u-image-12 {
    margin-top: 596px;
    margin-right: auto;
  }

  .u-section-1 .u-image-13 {
    background-position: 41.16% 50%;
  }

  .u-section-1 .u-image-14 {
    margin-top: 596px;
    margin-right: auto;
  }

  .u-section-1 .u-image-15 {
    background-position: 64.05% 50%;
  }

  .u-section-1 .u-image-16 {
    margin-top: 596px;
    margin-right: auto;
  }

  .u-section-1 .u-image-18 {
    margin-top: 596px;
    margin-right: auto;
  }

  .u-section-1 .u-image-20 {
    margin-top: 596px;
    margin-right: auto;
  }

  .u-section-1 .u-image-22 {
    margin-top: 596px;
    margin-right: auto;
  }
}.u-section-2 {
  min-height: 581px;
}

.u-section-2 .u-gallery-1 {
  height: 546px;
  margin: 35px auto 0 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 100%;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-2 .u-shape-1 {
  height: 81px;
  background-image: linear-gradient(rgba(255,255,255,0), white);
  margin: -81px auto 0 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 76.8px;
  margin: -311px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 594px;
  }

  .u-section-2 .u-gallery-1 {
    height: 556px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-back-image-2 {
    object-position: 50% 56.74%;
  }

  .u-section-2 .u-back-image-4 {
    object-position: 50% 0%;
  }

  .u-section-2 .u-shape-1 {
    height: 84px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    line-height: 1.2;
    width: 312px;
    margin-top: -324px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-gallery-1 {
  height: 1160px;
  grid-gap: 17px 17px;
  margin: 60px auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 60px 60px;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 2s;
}

.u-section-3 .u-back-image-1 {
  object-position: 0% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 2s;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 2s;
}

.u-section-3 .u-back-image-3 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 2s;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 2s;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 2s;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-7 {
  transition-duration: 2s;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-8 {
  transition-duration: 2s;
}

.u-section-3 .u-back-image-8 {
  object-position: 45.97% 50%;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-9 {
  transition-duration: 2s;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-3 .u-gallery-1 {
    height: 956px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-back-slide-1 {
    transition-duration: 1s;
  }

  .u-section-3 .u-back-slide-2 {
    transition-duration: 1s;
  }

  .u-section-3 .u-back-slide-3 {
    transition-duration: 1s;
  }

  .u-section-3 .u-back-slide-4 {
    transition-duration: 1s;
  }

  .u-section-3 .u-back-slide-5 {
    transition-duration: 1s;
  }

  .u-section-3 .u-back-slide-6 {
    transition-duration: 1s;
  }

  .u-section-3 .u-back-slide-7 {
    transition-duration: 1s;
  }

  .u-section-3 .u-back-slide-8 {
    transition-duration: 1s;
  }

  .u-section-3 .u-back-slide-9 {
    transition-duration: 1s;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1831px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4432px;
  }

  .u-section-3 .u-gallery-1 {
    height: 4944px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2815px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3113px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 60px;
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-gallery-1 {
  height: 540px;
  grid-gap: 17px 17px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-5 .u-back-image-1 {
  object-position: 33.07% 0%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-shape-1 {
  height: 120px;
  background-image: linear-gradient(rgba(0,0,0,0), black);
  margin: -120px auto 0 0;
}

.u-section-5 .u-text-1 {
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 700;
  width: auto;
  line-height: 76.8px;
  margin: -308px auto 232px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 540px;
  }

  .u-section-5 .u-gallery-1 {
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 414px;
  }

  .u-section-5 .u-gallery-1 {
    height: 414px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: -245px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 311px;
  }

  .u-section-5 .u-gallery-1 {
    height: 299px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -17px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 322px;
  }

  .u-section-5 .u-gallery-1 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -120px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    line-height: 1;
    margin-top: -177px;
    margin-bottom: 81px;
    margin-left: 0;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-6 .u-gallery-1 {
  height: 1160px;
  grid-gap: 17px 17px;
  margin: 60px auto;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 60px 60px;
}

.u-section-6 .u-back-image-1 {
  object-position: 0% 50%;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-3 {
  object-position: 100% 50%;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-7 {
  object-position: 50% 57.97%;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-8 {
  object-position: 30.96% 50%;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-6 .u-gallery-1 {
    height: 956px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1831px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 4432px;
  }

  .u-section-6 .u-gallery-1 {
    height: 4944px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2815px;
  }

  .u-section-6 .u-gallery-1 {
    height: 3113px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 60px;
}.u-section-8 {
  min-height: 580px;
}

.u-section-8 .u-gallery-1 {
  height: 580px;
  grid-gap: 17px 17px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-8 .u-back-image-1 {
  object-position: 33.07% 25.5%;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-text-1 {
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 700;
  margin: -328px auto 0;
}

.u-section-8 .u-shape-1 {
  height: 92px;
  background-image: linear-gradient(rgba(255,255,255,0), white);
  margin: 160px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 360px;
  }

  .u-section-8 .u-gallery-1 {
    height: 360px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-8 .u-back-image-1 {
    object-position: 33.07% 36.59%;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -226px;
  }

  .u-section-8 .u-shape-1 {
    height: 65px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 363px;
  }

  .u-section-8 .u-gallery-1 {
    height: 363px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-top: -257px;
  }

  .u-section-8 .u-shape-1 {
    height: 108px;
    margin-top: 74px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 346px;
  }

  .u-section-8 .u-gallery-1 {
    height: 298px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-top: -225px;
  }

  .u-section-8 .u-shape-1 {
    height: 64px;
    margin-top: 85px;
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 189px;
  }

  .u-section-8 .u-gallery-1 {
    height: 188px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -142px;
  }

  .u-section-8 .u-shape-1 {
    height: 49px;
    margin-top: 46px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1290px;
}

.u-section-9 .u-gallery-1 {
  height: 1160px;
  grid-gap: 17px 17px;
  margin: 60px auto;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 60px 60px;
}

.u-section-9 .u-back-image-1 {
  object-position: 0% 50%;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-back-image-3 {
  object-position: 100% 50%;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-back-image-7 {
  object-position: 50% 57.97%;
}

.u-section-9 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-back-image-8 {
  object-position: 30.96% 50%;
}

.u-section-9 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-9 .u-gallery-1 {
    height: 956px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1831px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 4432px;
  }

  .u-section-9 .u-gallery-1 {
    height: 4944px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2815px;
  }

  .u-section-9 .u-gallery-1 {
    height: 3113px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-gallery-1 {
  height: 543px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-10 .u-back-image-1 {
  object-position: 50% 33.62%;
}

.u-section-10 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-back-image-2 {
  object-position: 50% 45.87%;
}

.u-section-10 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-back-image-3 {
  object-position: 50% 69.64%;
}

.u-section-10 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-10 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-10 .u-shape-1 {
  height: 71px;
  background-image: linear-gradient(rgba(0,0,0,0), black);
  margin: -71px auto 0 0;
}

.u-section-10 .u-text-1 {
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 700;
  width: auto;
  margin: -309px auto 234px;
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 543px;
  }

  .u-section-10 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-1 {
    width: 455px;
    margin-top: -327px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-11 .u-gallery-1 {
  height: 1160px;
  grid-gap: 17px 17px;
  margin: 60px auto;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 60px 60px;
}

.u-section-11 .u-back-image-1 {
  object-position: 48.38% 50%;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-back-image-3 {
  object-position: 100% 0%;
}

.u-section-11 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-back-image-7 {
  object-position: 50% 57.97%;
}

.u-section-11 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-back-image-8 {
  object-position: 30.96% 70.32%;
}

.u-section-11 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-11 .u-gallery-1 {
    height: 956px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-11 .u-gallery-1 {
    height: 1831px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 4432px;
  }

  .u-section-11 .u-gallery-1 {
    height: 4944px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2815px;
  }

  .u-section-11 .u-gallery-1 {
    height: 3113px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 70px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 60px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-gallery-1 {
  height: 486px;
  grid-gap: 17px 17px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-13 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-13 .u-back-image-1 {
  object-position: 33.07% 57.39%;
}

.u-section-13 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-13 .u-back-image-2 {
  object-position: 50% 35.7%;
}

.u-section-13 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-13 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-13 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-13 .u-shape-1 {
  height: 145px;
  background-image: linear-gradient(rgba(0,0,0,0), black);
  margin: -145px auto 0 0;
}

.u-section-13 .u-text-1 {
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: 700;
  width: auto;
  margin: -281px auto 205px;
}

@media (max-width: 1199px) {
  .u-section-13 {
    min-height: 486px;
  }

  .u-section-13 .u-gallery-1 {
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-13 .u-shape-1 {
    height: 119px;
    margin-top: -119px;
    animation-duration: 1000ms;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-gallery-1 {
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-13 {
    min-height: 510px;
  }

  .u-section-13 .u-gallery-1 {
    grid-template-columns: auto;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-shape-1 {
    margin-top: -155px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-text-1 {
    margin-top: -245px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-13 {
    min-height: 547px;
  }

  .u-section-13 .u-shape-1 {
    margin-top: -119px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -267px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 1261px;
}

.u-section-14 .u-gallery-1 {
  height: 1141px;
  grid-gap: 17px 17px;
  margin: 60px auto 60px 0;
}

.u-section-14 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 60px 60px;
}

.u-section-14 .u-back-image-1 {
  object-position: 48.38% 0%;
}

.u-section-14 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-back-image-2 {
  object-position: 50% 0%;
}

.u-section-14 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-back-image-3 {
  object-position: 100% 73.46%;
}

.u-section-14 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-back-image-4 {
  object-position: 0% 50%;
}

.u-section-14 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-back-image-6 {
  object-position: 100% 50%;
}

.u-section-14 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-back-image-7 {
  object-position: 50% 57.97%;
}

.u-section-14 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-back-image-8 {
  object-position: 0% 70.32%;
}

.u-section-14 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-back-image-9 {
  object-position: 100% 50%;
}

.u-section-14 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-14 .u-gallery-1 {
    height: 941px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1951px;
  }

  .u-section-14 .u-gallery-1 {
    height: 1802px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 5064px;
  }

  .u-section-14 .u-gallery-1 {
    height: 4865px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 3207px;
  }

  .u-section-14 .u-gallery-1 {
    height: 3063px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 60px;
}.u-section-16 {
  min-height: 482px;
}

.u-section-16 .u-gallery-1 {
  height: 480px;
  grid-gap: 17px 17px;
  margin: 1px auto 0 0;
}

.u-section-16 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-16 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-16 .u-back-image-1 {
  object-position: 33.07% 61.89%;
}

.u-section-16 .u-over-slide-1 {
  padding: 20px;
}

.u-section-16 .u-back-image-2 {
  object-position: 50% 35.56%;
}

.u-section-16 .u-over-slide-2 {
  padding: 20px;
}

.u-section-16 .u-over-slide-3 {
  padding: 20px;
}

.u-section-16 .u-back-image-4 {
  object-position: 50% 68.03%;
}

.u-section-16 .u-over-slide-4 {
  padding: 20px;
}

.u-section-16 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-16 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-16 .u-image-1 {
  width: 570px;
  height: 40px;
  object-position: 50% 23.21%;
  animation-duration: 1000ms;
  margin: -220px calc(((100% - 1140px) / 2) + 264px) 0 auto;
}

.u-section-16 .u-shape-1 {
  height: 65px;
  background-image: linear-gradient(rgba(0,0,0,0), white);
  margin: 115px auto 1px 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-gallery-1 {
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-16 .u-over-slide-1 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-16 .u-over-slide-2 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-16 .u-over-slide-3 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-16 .u-over-slide-4 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-16 .u-image-1 {
    margin-right: auto;
  }

  .u-section-16 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-gallery-1 {
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-1 {
    width: 550px;
    margin-top: -197px;
  }

  .u-section-16 .u-shape-1 {
    margin-top: 92px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-16 {
    min-height: 481px;
  }

  .u-section-16 .u-gallery-1 {
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-1 {
    width: 540px;
    height: 39px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-16 .u-shape-1 {
    margin-top: 93px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-gallery-1 {
    height: 466px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-image-1 {
    width: 340px;
    height: 25px;
    margin-top: -175px;
    margin-right: auto;
  }

  .u-section-16 .u-shape-1 {
    margin-top: 85px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-17 .u-gallery-1 {
  height: 1160px;
  grid-gap: 17px 17px;
  margin: 60px auto;
}

.u-section-17 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 60px 60px;
}

.u-section-17 .u-back-image-1 {
  object-position: 71.18% 50%;
}

.u-section-17 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-back-image-2 {
  object-position: 26.47% 50%;
}

.u-section-17 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-back-image-3 {
  object-position: 100% 50%;
}

.u-section-17 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-back-image-4 {
  object-position: 50% 100%;
}

.u-section-17 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-back-image-5 {
  object-position: 50% 25.61%;
}

.u-section-17 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-back-image-6 {
  object-position: 70.12% 50%;
}

.u-section-17 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-back-image-7 {
  object-position: 50% 40.2%;
}

.u-section-17 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-back-image-8 {
  object-position: 30.96% 50%;
}

.u-section-17 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-17 .u-gallery-1 {
    height: 956px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-17 .u-back-image-1 {
    object-position: 65.04% 50%;
  }

  .u-section-17 .u-back-image-5 {
    object-position: 76.3% 25.61%;
  }

  .u-section-17 .u-back-image-7 {
    object-position: 50% 0%;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-17 .u-gallery-1 {
    height: 1831px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 4432px;
  }

  .u-section-17 .u-gallery-1 {
    height: 4944px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-17 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 2815px;
  }

  .u-section-17 .u-gallery-1 {
    height: 3113px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 70px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-sheet-1 {
    min-height: 60px;
  }
}.u-section-19 {
  min-height: 495px;
}

.u-section-19 .u-gallery-1 {
  height: 495px;
  grid-gap: 17px 17px;
  margin: 0 auto 0 0;
}

.u-section-19 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-19 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-19 .u-back-image-1 {
  object-position: 33.07% 0%;
}

.u-section-19 .u-over-slide-1 {
  padding: 20px;
}

.u-section-19 .u-back-image-2 {
  object-position: 50% 35.56%;
}

.u-section-19 .u-over-slide-2 {
  padding: 20px;
}

.u-section-19 .u-over-slide-3 {
  padding: 20px;
}

.u-section-19 .u-back-image-4 {
  object-position: 50% 68.03%;
}

.u-section-19 .u-over-slide-4 {
  padding: 20px;
}

.u-section-19 .u-back-image-5 {
  object-position: 50% 91.9%;
}

.u-section-19 .u-over-slide-5 {
  padding: 20px;
}

.u-section-19 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-19 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-19 .u-shape-1 {
  height: 62px;
  background-image: linear-gradient(rgba(0,0,0,0), #1a1a1a);
  margin: -62px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-gallery-1 {
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-19 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-19 .u-over-slide-1 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-19 .u-over-slide-2 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-19 .u-over-slide-3 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-19 .u-over-slide-4 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-19 .u-over-slide-5 {
    min-height: 100px;
    padding: 0;
  }

  .u-section-19 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-gallery-1 {
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-19 {
    min-height: 659px;
  }

  .u-section-19 .u-gallery-1 {
    height: 659px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-19 {
    min-height: 632px;
  }
}.u-section-20 {
  background-image: none;
}

.u-section-20 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-20 .u-gallery-1 {
  height: 1160px;
  grid-gap: 17px 17px;
  margin: 60px auto;
}

.u-section-20 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 60px 60px;
}

.u-section-20 .u-back-image-1 {
  object-position: 71.18% 50%;
}

.u-section-20 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-20 .u-back-image-2 {
  object-position: 26.47% 50%;
}

.u-section-20 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-20 .u-back-image-3 {
  object-position: 69.41% 50%;
}

.u-section-20 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-20 .u-back-image-4 {
  object-position: 100% 100%;
}

.u-section-20 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-20 .u-back-image-5 {
  object-position: 50% 25.61%;
}

.u-section-20 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-20 .u-back-image-6 {
  object-position: 100% 50%;
}

.u-section-20 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-20 .u-back-image-7 {
  object-position: 50% 40.2%;
}

.u-section-20 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-20 .u-back-image-8 {
  object-position: 73.19% 50%;
}

.u-section-20 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-20 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-20 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-20 .u-gallery-1 {
    height: 956px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-20 .u-back-image-1 {
    object-position: 65.04% 50%;
  }

  .u-section-20 .u-back-image-5 {
    object-position: 76.3% 25.61%;
  }

  .u-section-20 .u-back-image-7 {
    object-position: 50% 0%;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-sheet-1 {
    min-height: 1951px;
  }

  .u-section-20 .u-gallery-1 {
    height: 1831px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-sheet-1 {
    min-height: 5064px;
  }

  .u-section-20 .u-gallery-1 {
    height: 4944px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-20 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-sheet-1 {
    min-height: 3233px;
  }

  .u-section-20 .u-gallery-1 {
    height: 3113px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-21 .u-sheet-1 {
  min-height: 482px;
}

.u-section-21 .u-image-1 {
  width: 570px;
  height: 33px;
  animation-duration: 1000ms;
  margin: 33px auto 0;
}

.u-section-21 .u-layout-wrap-1 {
  margin: 33px -438px 0 auto;
}

.u-section-21 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-21 .u-container-layout-1 {
  padding: 30px;
}

.u-section-21 .u-image-2 {
  width: 171px;
  height: 131px;
  animation-duration: 1000ms;
  margin: 39px auto 0;
}

.u-section-21 .u-image-3 {
  width: 208px;
  height: 70px;
  object-position: 100% 0%;
  margin: 40px auto 0;
}

.u-section-21 .u-layout-cell-2 {
  min-height: 384px;
}

.u-section-21 .u-container-layout-2 {
  padding: 30px;
}

.u-section-21 .u-image-4 {
  width: 210px;
  height: 210px;
  animation-duration: 1000ms;
  margin: -14px -21px 0;
}

.u-section-21 .u-image-5 {
  height: 76px;
  object-position: 0% 50%;
  width: 198px;
  margin: 13px -30px 0 auto;
}

.u-section-21 .u-layout-cell-3 {
  min-height: 384px;
}

.u-section-21 .u-container-layout-3 {
  padding: 30px;
}

.u-section-21 .u-image-6 {
  width: 118px;
  height: 118px;
  animation-duration: 1000ms;
  margin: 42px auto 0;
}

.u-section-21 .u-image-7 {
  width: 118px;
  height: 86px;
  margin: 50px auto 0;
}

.u-section-21 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-21 .u-container-layout-4 {
  padding: 30px;
}

.u-section-21 .u-image-8 {
  width: 193px;
  height: 193px;
  animation-duration: 1000ms;
  margin: 7px auto 0;
}

.u-section-21 .u-image-9 {
  height: 76px;
  object-position: 0% 50%;
  margin: 7px auto 0 0;
}

.u-section-21 .u-layout-cell-5 {
  min-height: 384px;
}

.u-section-21 .u-container-layout-5 {
  padding: 30px;
}

.u-section-21 .u-image-10 {
  width: 139px;
  height: 139px;
  animation-duration: 1000ms;
  margin: 21px auto 0;
}

.u-section-21 .u-image-11 {
  height: 91px;
  object-position: 0% 50%;
  width: 214px;
  margin: 48px -60px 0 14px;
}

@media (max-width: 1199px) {
  .u-section-21 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-21 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-21 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-21 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-21 .u-image-2 {
    margin-top: 32px;
    margin-left: -23px;
  }

  .u-section-21 .u-image-3 {
    width: 175px;
    height: 59px;
    margin-top: 47px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-21 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-21 .u-image-4 {
    height: 128px;
    margin-top: 35px;
    margin-right: -436px;
    margin-left: auto;
  }

  .u-section-21 .u-image-5 {
    height: 59px;
    width: 158px;
    margin-top: 46px;
    margin-right: -391px;
  }

  .u-section-21 .u-layout-cell-3 {
    min-height: 338px;
  }

  .u-section-21 .u-image-6 {
    margin-top: 38px;
    margin-left: -183px;
  }

  .u-section-21 .u-image-7 {
    width: 90px;
    height: 66px;
    margin-left: -169px;
  }

  .u-section-21 .u-layout-cell-4 {
    min-height: 338px;
  }

  .u-section-21 .u-image-8 {
    height: 175px;
    margin-top: 10px;
    margin-left: -215px;
  }

  .u-section-21 .u-image-9 {
    height: 59px;
    width: 128px;
    margin-top: 25px;
    margin-left: -183px;
    margin-right: auto;
  }

  .u-section-21 .u-layout-cell-5 {
    min-height: 338px;
  }

  .u-section-21 .u-image-10 {
    height: 128px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-21 .u-image-11 {
    height: 67px;
    width: 83px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-21 .u-image-1 {
    margin-top: 34px;
  }

  .u-section-21 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-21 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-21 .u-image-2 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-21 .u-image-3 {
    margin-top: 50px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-21 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-21 .u-image-4 {
    margin-top: 0;
    margin-right: -255px;
  }

  .u-section-21 .u-image-5 {
    margin-top: 53px;
    margin-right: -229px;
  }

  .u-section-21 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-21 .u-image-6 {
    margin-top: 7px;
    margin-left: -209px;
  }

  .u-section-21 .u-image-7 {
    margin-top: 57px;
    margin-left: -209px;
  }

  .u-section-21 .u-layout-cell-4 {
    min-height: 190px;
  }

  .u-section-21 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-21 .u-image-8 {
    width: 141px;
    height: 128px;
    margin-top: 0;
    margin-right: 159px;
    margin-left: 0;
  }

  .u-section-21 .u-image-9 {
    margin-top: -83px;
    margin-right: 31px;
    margin-left: auto;
  }

  .u-section-21 .u-layout-cell-5 {
    min-height: 190px;
  }

  .u-section-21 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-21 .u-image-10 {
    height: 134px;
    width: 138px;
    object-position: 50% 0%;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-21 .u-image-11 {
    margin-top: -93px;
    margin-right: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-21 .u-image-1 {
    height: 32px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-21 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-21 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-21 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-image-2 {
    margin-top: -2px;
    margin-left: 5px;
  }

  .u-section-21 .u-image-3 {
    margin-top: -83px;
    margin-right: 85px;
  }

  .u-section-21 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-21 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-image-4 {
    margin-top: 11px;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-21 .u-image-5 {
    margin-top: -93px;
    margin-right: 102px;
  }

  .u-section-21 .u-layout-cell-3 {
    min-height: 163px;
  }

  .u-section-21 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-image-6 {
    margin-top: -8px;
    margin-left: 31px;
  }

  .u-section-21 .u-image-7 {
    margin-top: -82px;
    margin-right: 170px;
    margin-left: auto;
  }

  .u-section-21 .u-layout-cell-4 {
    min-height: 147px;
  }

  .u-section-21 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-21 .u-image-8 {
    margin-top: -21px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-21 .u-image-9 {
    margin-top: -73px;
    margin-right: 132px;
  }

  .u-section-21 .u-layout-cell-5 {
    min-height: 143px;
  }

  .u-section-21 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-section-21 .u-image-10 {
    margin-top: -25px;
    margin-left: 21px;
  }

  .u-section-21 .u-image-11 {
    margin-top: -109px;
    margin-right: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-21 .u-image-1 {
    height: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-21 .u-layout-wrap-1 {
    margin-bottom: 50px;
    min-height: 668px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-21 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-21 .u-image-2 {
    width: 140px;
    height: 109px;
  }

  .u-section-21 .u-image-3 {
    margin-top: -84px;
    margin-right: -15px;
  }

  .u-section-21 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-21 .u-image-4 {
    width: 139px;
    height: 85px;
  }

  .u-section-21 .u-image-5 {
    margin-top: -73px;
    margin-right: -3px;
  }

  .u-section-21 .u-layout-cell-3 {
    min-height: 154px;
  }

  .u-section-21 .u-image-6 {
    margin-top: -12px;
    margin-left: 12px;
  }

  .u-section-21 .u-image-7 {
    margin-top: -92px;
    margin-right: 65px;
  }

  .u-section-21 .u-layout-cell-4 {
    min-height: 129px;
  }

  .u-section-21 .u-image-8 {
    margin-top: -29px;
    margin-left: 0;
  }

  .u-section-21 .u-image-9 {
    margin-top: -93px;
    margin-right: 27px;
  }

  .u-section-21 .u-layout-cell-5 {
    min-height: 116px;
  }

  .u-section-21 .u-image-10 {
    height: 108px;
    width: 111px;
  }

  .u-section-21 .u-image-11 {
    margin-top: -88px;
    margin-right: 72px;
  }
}.u-section-22 {
  background-image: none;
}

.u-section-22 .u-sheet-1 {
  min-height: 346px;
}

.u-section-22 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-22 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-22 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-22 .u-image-1 {
  width: 282px;
  height: 30px;
  margin: 0 auto 0 0;
}

.u-section-22 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-22 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 15px auto 0 0;
}

.u-section-22 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-22 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-22 .u-image-2 {
  width: 301px;
  height: 143px;
  animation-duration: 1000ms;
  margin: 11px auto 0 -48px;
}

.u-section-22 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 154px;
  min-width: 58px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: -95px -43px 0 auto;
}

.u-section-22 .u-icon-1 {
  height: 100%;
}

.u-section-22 .u-icon-2 {
  height: 100%;
}

.u-section-22 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-22 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-22 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-22 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-22 .u-image-2 {
    width: 284px;
    height: 131px;
    margin-top: 19px;
    margin-left: -88px;
  }

  .u-section-22 .u-social-icons-1 {
    margin-top: -84px;
    margin-right: -60px;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-22 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-22 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-22 .u-image-2 {
    width: 251px;
    height: 115px;
    margin-top: 31px;
    margin-left: -104px;
  }

  .u-section-22 .u-social-icons-1 {
    margin-top: -82px;
    margin-right: -54px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-22 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-22 .u-layout-cell-2 {
    min-height: 122px;
  }

  .u-section-22 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-22 .u-image-2 {
    margin-top: -30px;
    margin-right: 120px;
    margin-left: auto;
  }

  .u-section-22 .u-social-icons-1 {
    width: 156px;
    min-width: 60px;
    margin-top: -65px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-22 .u-layout-wrap-1 {
    width: 280px;
    margin-top: 33px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-22 .u-image-1 {
    margin-top: -5px;
    margin-right: -22px;
  }

  .u-section-22 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-right: 66px;
  }

  .u-section-22 .u-btn-1 {
    margin-top: 22px;
    margin-bottom: -16px;
  }

  .u-section-22 .u-layout-cell-2 {
    min-height: 106px;
  }

  .u-section-22 .u-image-2 {
    width: 160px;
    height: 76px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-22 .u-social-icons-1 {
    height: 38px;
    width: 125px;
    margin-top: -50px;
    margin-right: -10px;
  }
}